<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
<main>
    <h1>Create/Update Job Description</h1>
    <div>
        <p id="searchResult" >Status: </p>
        
        <label for="id">Please enter Job ID:</label>
        <input type="text" id="id" name="id" placeholder="Job ID" required>
        <button type="none" id="searchBtn">Search</button>
        <br>
        <label for="title">Job Title:</label>
        <input type="text" id="title" name="title" placeholder="Job Title" >
        <br>
        <label for="minSalary">Minimum Salary:</label>
        <input type="text" id="minSalary" name="minSalary" placeholder="Minimum Salary" >
        <br>
        <label for="maxSalary">Maximum Salary:</label>
        <input type="text" id="maxSalary" name="maxSalary" placeholder="Maximum Salary" >
        <br>

        <button type="reset" id="clearBtn">Clear</button>
        <button id="createBtn" class="">Create</button>
        <button id="updateBtn" class="hidden">Update</button>
        </div>
</main>
  
<%- include ../partials/bottom_nav.ejs %>  

<script src="/Scripts/job.js"></script>
<%- include ../partials/footer.ejs %>